@import "normalize";
@import "bourbon";

$c-yellow:  #FAFCB9;
$c-brown:   #984F00;
$c-light:   #FDFDED;
$c-blue:    #A6B6BC;
$c-red:     #E2545B;
$c-grey:    #EFEFF0;

$c-text:    $c-brown;

$f-stack-sans: 'Open Sans', Verdana, Arial, sans-serif;
$f-stack-icon: 'icon-font';

$max-container-width: 1600px;

// Primary break points

$bp-xsmall: 479px;
$bp-small:  599px;
$bp-medium: 770px;
$bp-large:  979px;
$bp-xlarge: 1199px;

@import "mixin/typography";
@import "mixin/breakpoint";

// ----------------------------------------------
// Layout

@import "layout/global";
@import "layout/header";
@import "layout/footer";

// ----------------------------------------------
// Modules

@import "module/intro";
@import "module/about";
@import "module/hotel";
@import "module/restaurant";
@import "module/contacts";

// ----------------------------------------------
// Vendors

@import "vendor/owl"
