!!!
%html
  %head
    %title=current_page.data.title

    %meta{charset:  'utf-8'}
    %meta{name:     'description',  content: (yield_content(:description) || current_page.data.description) }
    %meta{name:     'viewport',     content: 'width=device-width, initial-scale=1.0, user-scalable=no'      }

    %link{rel: 'icon', href: 'images/favicon.png'}
    %link{rel: 'stylesheet', type: 'text/css', href: 'https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,cyrillic'}
    %script{src: 'https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places'}

    = yield_content :stylesheets
  
  %body{class: page_classes}
    = yield

    = yield_content :javascripts
