// =============================================
// Mixin - Typography
// =============================================

@mixin h1 {
    margin: 0;
    margin-bottom: 0.7em;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 28px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

@mixin h2 {
    margin: 0;
    margin-bottom: 0.5em;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-rendering: optimizeLegibility;
    text-transform: uppercase;
}

@mixin h3 {
    margin: 0;
    margin-bottom: 10px;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

@mixin h4 {
    margin: 0;
    margin-bottom: 10px;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

@mixin h5 {
    margin: 0;
    margin-bottom: 10px;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

@mixin h6 {
    margin: 0;
    margin-bottom: 5px;
    color: $c-text;
    font-family: $f-stack-sans;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4;
    text-rendering: optimizeSpeed;
    text-transform: uppercase;
}

