// ----------------------------------------------
// About

section#about {
    color: #707070;

    div > span {
        color: $c-brown;
    }
}

@include bp(max-width, $bp-medium) {
    section#about {
        padding-top: 50px;
    }
}
