// ----------------------------------------------
// Intro

#intro {
    overflow: hidden;
    position: relative;
    color: white;

    &:before {
        content: "";
        display: block;
        padding-top: 44%;
    }

    > div {
        @include position(absolute, 0);
    }

    .parallax-bg {
        background-image: url(../images/hotel.jpg);
        background-size: cover;
        background-position: center;
        @include position(absolute, 0);
    }

    .container {
        overflow: hidden;
        text-align: center;
        @include display(flex);
        @include align-items(center);
        @include flex-direction(column);
        @include justify-content(center);

        h2 {
            position: relative;
            font-size: 60px;
            text-transform: uppercase;
        }
    }
}

@include bp(max-width, $bp-large) {
    section#intro {
        .container {
            h2 {
                font-size: 32px;
            }
        }
    }
}

@include bp(max-width, $bp-medium) {
    section#intro {
        .container {
            display: none;
        }
    }
}

@include bp(max-width, $bp-medium) {
    section#intro {
        display: none;
    }
}
