%footer#footer
  .container.row
    %ul.social-networks
      %li
        %a{href: "https://www.facebook.com/Sveti.Nikola.Hotel", target: "_blank", class: "icon-facebook", title: "Facebook", :"data-icon" => ""}
    %p.copyright= I18n.t("corporate.footer.copyright")
