%footer#footer
  .container
    %ul.social-networks
      %li
        %a{href: "https://facebook.com/hotel-sveti-nikola", target: "_blank", class: "fa fa-facebook", title: "Facebook"}
      %li
        %a{href: "mailto:reception@hotel-sveti-nikola.com", class: "fa fa-mail", title: "Email"}
    %p.copyright= I18n.t("corporate.footer.copyright")
