%section#hotel
  %div#owl-hotel{class: "owl-carousel owl-theme"}
    %div.item
      %img{src: "images/room_one.jpg", alt: ""}
    %div.item
      %img{src: "images/room_two.jpg", alt: ""}
    %div.item
      %img{src: "images/room_three.jpg", alt: ""}
    %div.item
      %img{src: "images/bathrooms.jpg", alt: ""}
    %div.item
      %img{src: "images/room_view.jpg", alt: ""}

