%section#hotel
  %h3.section-title= I18n.t("corporate.hotel.title")
  %div#owl-hotel{class: "owl-carousel owl-theme"}
    %div.item
      %img{src: asset_url("images/room_one.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/room_two.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/room_three.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/bathrooms.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/room_view.jpg"), alt: ""}

