%section#restaurant
  %div#owl-restaurant{class: "owl-carousel owl-theme"}
    %div.item
      %img{src: "images/restaurant.jpg", alt: ""}
    %div.item
      %img{src: "images/restaurant_close.jpg", alt: ""}
    %div.item
      %img{src: "images/restaurant_view.jpg", alt: ""}
