%section#restaurant
  %h3.section-title= I18n.t("corporate.restaurant.title")
  %div#owl-restaurant{class: "owl-carousel owl-theme"}
    %div.item
      %img{src: asset_url("images/restaurant.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/restaurant_close.jpg"), alt: ""}
    %div.item
      %img{src: asset_url("images/restaurant_view.jpg"), alt: ""}
